{% extends "account/partial/layout_non_login.html.twig" %}

{% block title %}{{ t("forgot_password_page_name", "Forgot Password") }}{% endblock %}
{% block description %}{{ t("forgot_password_meta_description", "Forgot account password") }}{% endblock %}
{% block keywords %}{{ t("forgot_password_meta_keywords", "forgot, password, account, image, picture, pic, img, hosting, sharing, upload, storage, site, website") }}{% endblock %}
{% block html_element_class %}login-page-wrapper{% endblock %}

{% block body %}
    <body class="page-body login-page login-form-fall">
        <div class="login-container">
            <div class="login-header login-caret">
                <div class="login-content">
                    <a href="{{ CORE_SITE_PATH }}/" class="logo">
                        <img src="{{ theme.getMainLogoUrl() }}" alt="{{ SITE_CONFIG_SITE_NAME }}" alt="{{ SITE_CONFIG_SITE_NAME }}"/>
                    </a>
                </div>
            </div>
            <div class="login-form">
                <div class="login-content">
                    <div class="login-main-box">
                        <div class="alert alert-success">
                            <i class="entypo-check"></i> {{ t("forgot_password_sent_intro_text", "An email has been sent with further instructions on how to reset your password. Please check your email inbox.", {'EMAIL_ADDRESS': emailAddress}) }}
                        </div>

                        <div class="login-bottom-links">
                            <a href="{{ CORE_SITE_PATH }}/account/login" class="link"><i class="entypo-lock"></i> {{ t("login_form", "login form")|title }}</a>
                        </div>
                    </div>
                </div>
                {% embed "account/partial/non_login_footer_links.html.twig" %}{% endembed %}
            </div>
        </div>
        <!-- Bottom Scripts -->
        <script src="{{ theme.getAccountJsPath() }}/gsap/main-gsap.js"></script>
        <script src="{{ theme.getAccountJsPath() }}/bootstrap.js"></script>
        <script src="{{ theme.getAccountJsPath() }}/joinable.js"></script>
        <script src="{{ theme.getAccountJsPath() }}/resizeable.js"></script>
        <script src="{{ theme.getAccountJsPath() }}/evolution-api.js"></script>
        <script src="{{ theme.getAccountJsPath() }}/jquery.validate.min.js"></script>
        <script src="{{ theme.getAccountJsPath() }}/evolution-login.js"></script>
    </body>
{% endblock %}