<!DOCTYPE html>
<html lang="en" dir="{{ SITE_LANGUAGE_DIRECTION|upper }}" class="direction{{ SITE_LANGUAGE_DIRECTION|capitalize }} {% if block("html_element_class") is defined %}{{ block("html_element_class") }}{% endif %}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>{{ block('title') }} - {{ SITE_CONFIG_SITE_NAME }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="{{ block('description') }}" />
        <meta name="keywords" content="{{ block('keywords') }}" />
        <meta name="copyright" content="Copyright &copy; - {{ SITE_CONFIG_SITE_NAME }}" />
        <meta name="robots" content="all" />
        <meta http-equiv="Cache-Control" content="no-cache" />
        <meta http-equiv="Expires" content="-1" />
        <meta http-equiv="Pragma" content="no-cache" />

        <!-- og meta tags -->
        {% if PAGE_OG_TITLE is defined %}
            <meta property="og:title" content="{{ PAGE_OG_TITLE }}" />
        {% endif %}
        {% if PAGE_OG_IMAGE is defined %}
            <meta property="og:image" content="{{ PAGE_OG_IMAGE }}>" />
        {% else %}
            <meta property="og:image" content="{{ theme.getAccountImagePath() }}/favicon/ms-icon-144x144.png" />
        {% endif %}
        <meta property="og:type" content="website" />

        <!-- fav and touch icons -->
        <link rel="icon" type="image/x-icon" href="{{ theme.getAccountImagePath() }}/favicon/favicon.ico" />
        <link rel="icon" type="image/png" sizes="96x96" href="{{ theme.getAccountImagePath() }}/favicon/favicon-96x96.png">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ theme.getAccountImagePath() }}/favicon/apple-icon-152x152.png">
        <link rel="manifest" href="{{ theme.getAccountImagePath() }}/favicon/manifest.json">
        <meta name="msapplication-TileImage" content="{{ theme.getAccountImagePath() }}/favicon/ms-icon-144x144.png">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="theme-color" content="#ffffff">

        <link rel="stylesheet" href="{{ theme.getAccountCssPath() }}/fonts.css" />
        <link rel="stylesheet" href="{{ theme.getAccountCssPath() }}/font-icons/entypo/css/entypo.css" />
        <link rel="stylesheet" href="{{ theme.getAccountCssPath() }}/font-icons/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="{{ theme.getAccountCssPath() }}/bootstrap.css" />
        <link rel="stylesheet" href="{{ theme.getAccountCssPath() }}/zsocial.css"/>
        {% if theme.getThemeSkin() != false %}
            <link rel="stylesheet" href="{{ theme.getAccountCssPath() }}/skins/{{ theme.getThemeSkin() }}" />
        {% else %}
            <link rel="stylesheet" href="{{ theme.getAccountCssPath() }}/skins/default.css" />
        {% endif %}
        <link rel="stylesheet" href="{{ theme.getAccountCssPath() }}/core.css" />
        <link rel="stylesheet" href="{{ theme.getAccountCssPath() }}/theme.css" />
        <link rel="stylesheet" href="{{ theme.getAccountCssPath() }}/forms.css" />
        <link rel="stylesheet" href="{{ theme.getAccountCssPath() }}/responsive.css" />
        {% if SITE_LANGUAGE_DIRECTION == 'RTL' %}
            <link rel="stylesheet" href="{{ theme.getAccountCssPath() }}/rtl.css" />
        {% endif %}
        <link rel="stylesheet" href="{{ theme.getAccountCssPath() }}/daterangepicker-bs3.css" />
        <link rel="stylesheet" href="{{ theme.getAccountCssPath() }}/custom.css" />
        <link rel="stylesheet" href="{{ theme.getAccountCssPath() }}/file-upload.css" />
        <link rel="stylesheet" href="{{ theme.getAccountCssPath() }}/search_widget.css" />
        <link rel="stylesheet" type="text/css"  href="{{ PLUGIN_WEB_ROOT }}/filepreviewer/assets/players/ultimate/content/global.css"/>
        {{ theme.outputCustomCSSCode()|raw }}

        <script src="{{ theme.getAccountJsPath() }}/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="{{ theme.getAccountJsPath() }}/jquery.ckie.js"></script>
        <script type="text/javascript" src="{{ theme.getAccountJsPath() }}/jquery.jstree.js"></script>
        <script type="text/javascript" src="{{ theme.getAccountJsPath() }}/jquery.event.drag-2.2.js"></script>
        <script type="text/javascript" src="{{ theme.getAccountJsPath() }}/jquery.event.drag.live-2.2.js"></script>
        <script type="text/javascript" src="{{ theme.getAccountJsPath() }}/jquery.event.drop-2.2.js"></script>
        <script type="text/javascript" src="{{ theme.getAccountJsPath() }}/jquery.event.drop.live-2.2.js"></script>

        <link rel="stylesheet" href="{{ theme.getAccountCssPath() }}/file_browser_sprite_48px.css" type="text/css" charset="utf-8" />

        <link rel="stylesheet" type="text/css" href="{{ theme.getAccountJsPath() }}/slick/slick.css"/>

        <link rel="stylesheet" type="text/css" href="{{ theme.getAccountJsPath() }}/slick/slick-theme.css"/>
        <script type="text/javascript" src="{{ theme.getAccountJsPath() }}/slick/slick.js"></script>

        <link rel="stylesheet" type="text/css" href="{{ theme.getAccountJsPath() }}/photo-swipe/photoswipe.css"/>
        <link rel="stylesheet" type="text/css" href="{{ theme.getAccountJsPath() }}/photo-swipe/default-skin/default-skin.css"/>
        <script type="text/javascript" src="{{ theme.getAccountJsPath() }}/photo-swipe/photoswipe.min.js"></script>
        <script type="text/javascript" src="{{ theme.getAccountJsPath() }}/photo-swipe/photoswipe-ui-default.min.js"></script>

        <!-- mobile swipe navigation -->
        <script type="text/javascript" src="{{ theme.getAccountJsPath() }}/jquery.touchSwipe.min.js"></script>

        <script type="text/javascript" src="{{ theme.getAccountJsPath() }}/evolution.js"></script>

        <!--[if lt IE 9]><script src="{{ theme.getAccountJsPath() }}/ie8-responsive-file-warning.js"></script><![endif]-->

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
                <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
                <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <script type="text/javascript">
            var ACCOUNT_WEB_ROOT = "{{ theme.getAccountWebRoot() }}";
            var SITE_THEME_WEB_ROOT = "{{ SITE_THEME_WEB_ROOT }}";
            var SITE_CSS_PATH = "{{ theme.getAccountCssPath() }}";
            var SITE_IMAGE_PATH = "{{ theme.getAccountImagePath() }}";
            var _CONFIG_SITE_PROTOCOL = "{{ _CONFIG_SITE_PROTOCOL }}";
            var CORE_AJAX_WEB_ROOT = "{{ CORE_AJAX_WEB_ROOT }}";
            var LOGGED_IN = {% if Auth.loggedIn() == 'true' %}true{% else %}false{% endif %};
        </script>
        <script type="text/javascript" src="{{ CORE_SITE_PATH }}/js/translations.js"></script>
        <script type="text/javascript" src="{{ theme.getAccountJsPath() }}/jquery-ui.js"></script>
        <script type="text/javascript" src="{{ theme.getAccountJsPath() }}/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="{{ theme.getAccountJsPath() }}/jquery.tmpl.min.js"></script>
        <script type="text/javascript" src="{{ theme.getAccountJsPath() }}/load-image.min.js"></script>
        <script type="text/javascript" src="{{ theme.getAccountJsPath() }}/canvas-to-blob.min.js"></script>
        <script type="text/javascript" src="{{ theme.getAccountJsPath() }}/jquery.iframe-transport.js"></script>
        <script type="text/javascript" src="{{ theme.getAccountJsPath() }}/jquery.fileupload.js"></script>
        <script type="text/javascript" src="{{ theme.getAccountJsPath() }}/jquery.fileupload-process.js"></script>
        <script type="text/javascript" src="{{ theme.getAccountJsPath() }}/jquery.fileupload-resize.js"></script>
        <script type="text/javascript" src="{{ theme.getAccountJsPath() }}/jquery.fileupload-validate.js"></script>
        <script type="text/javascript" src="{{ theme.getAccountJsPath() }}/jquery.fileupload-ui.js"></script>
        <script type="text/javascript" src="{{ theme.getAccountJsPath() }}/zeroClipboard/ZeroClipboard.js"></script>
        <script type="text/javascript" src="{{ theme.getAccountJsPath() }}/daterangepicker/moment.min.js"></script>
        <script type="text/javascript" src="{{ theme.getAccountJsPath() }}/daterangepicker/daterangepicker.js"></script>
        <script type="text/javascript" src="{{ theme.getAccountJsPath() }}/charts/Chart.js"></script>
        <script type="text/javascript" src="{{ PLUGIN_WEB_ROOT }}/filepreviewer/assets/players/ultimate/java/FWDUVPlayer.js"></script>
        <script type="text/javascript" src="{{ theme.getAccountJsPath() }}/global.js"></script>
    </head>
{% block body %}{% endblock %}
</html>