<div class="footer-login-links">
    <a href="{{ CORE_SITE_PATH }}/terms">{{ t("terms_and_conditions", "terms & conditions")|title }}</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="{{ CORE_SITE_PATH }}/privacy">{{ t("privacy", "privacy")|title }}</a>&nbsp;&nbsp;|&nbsp;&nbsp;Powered by <a href="http://www.disana.id" target="_blank">Disana</a><br/>
    {{ t("copyright", "copyright")|title }} &copy; {{ "now"|date("Y") }} - <a href="http://radmed.co.id" target="_blank">{{ SITE_CONFIG_SITE_NAME }}</a>
</div>